# Token de acesso do Facebook/Meta (obrigatório)
# Obtenha em: https://developers.facebook.com/tools/explorer/
# Permissões necessárias: ads_read, ads_management
FACEBOOK_ACCESS_TOKEN=seu_token_aqui

# Porta do servidor (opcional, padrão 3000)
# PORT=3000
